<template>
  <div id="app">
    <img src="./assets/logo.png">
    <HelloWorld/>

  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import HelloWorld from '@/components/HelloWorld'
// 也可用@>>@表示src資料夾

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  created(){
    // https://www.npmjs.com/package/vue-axios   參考用法 使用es6 promise
    this.$http.get('https://randomuser.me/api/')   
    .then((result) => {
  // console.log(result);
    console.log(result.data);
    }).catch((err) => {
     console.log(err);
    });
  }

}
</script>
 
<style lang="scss">
@import "~bootstrap/scss/bootstrap";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
$color:purple;

body{
  background-color: $color;
}


</style>
